openapi: 3.2.0
info:
  title: Sharing Levels API
  description: Manage how your users and groups can access your Talend Cloud entities.
  contact:
    name: Talend
  version: 2021-03
servers:
- url: https://api.eu.cloud.talend.com
  description: URL for the AWS Europe region
  x-talend:
    isPublished: true
- url: https://api.ap.cloud.talend.com
  description: URL for the AWS Asia Pacific region
  x-talend:
    isPublished: true
- url: https://api.us.cloud.talend.com
  description: URL for the AWS United States East region
  x-talend:
    isPublished: true
- url: https://api.au.cloud.talend.com
  description: URL for the AWS Australia region
  x-talend:
    isPublished: true
- url: https://api.us-west.cloud.talend.com
  description: URL for the Azure United States West region
  x-talend:
    isPublished: true
security:
- Public: []
tags:
- name: Levels
paths:
  /sharing/sharings/levels/{entityType}:
    parameters:
    - name: entityType
      in: path
      required: true
      schema:
        type: string
      example: preparation
    get:
      tags:
      - Levels
      summary: Get the access levels of an entity
      description: 'An access level defines to what extent the user or the group will be able to interact with the entity. In Talend Cloud, the available levels are Viewer, Editor, and Owner. Depending on the level, a user will have read-only or write permissions for example.

        Use this method to retrieve the available access levels of the specified entity type.'
      operationId: getApiV1SharingsLevelsEntitytype
      parameters:
      - name: X-CLIENT-VERSION
        in: header
        schema:
          type: string
      responses:
        '200':
          description: Status 200
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LevelResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageBody'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageBody'
        '403':
          description: Not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageBody'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageBody'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageBody'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageBody'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessageBody'
components:
  schemas:
    LevelResponse:
      type: object
      required:
      - code
      - label
      - order
      description: Description of a level access for an entity.
      properties:
        code:
          type: string
          example: WRITER
        label:
          type: string
          example: Editor
        order:
          type: integer
          format: int32
          example: 2
    ErrorMessageBody:
      type: object
      required:
      - error
      - path
      - status
      - timestamp
      description: This object is returned in case of an error during an API call.
      properties:
        timestamp:
          type: integer
          format: int64
          example: 1622618273418
        status:
          type: integer
          format: int32
          example: 400
        error:
          type: string
          example: Bad Request
        exception:
          type: string
        message:
          type: string
          example: The request is invalid
        path:
          type: string
          example: /sharing/sharings/levels/dataset
  securitySchemes:
    Public:
      type: http
      scheme: bearer
      description: "This Bearer authentication can be\nset in the Authorization header of your requests. \n\nAuthentication tokens and Personal Access Tokens are supported.\n\nPersonal Access Tokens can be generated in the Profile Preferences page of the Talend Cloud Portal."
      bearerFormat: Bearer <token>
